

.animated-bg {
  animation: gradientAnimation 15s infinite linear;
  background-size: 200% 200%;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1400px; /* Controla el ancho de los elementos */
  padding: 0 20px; /* Espaciado en los costados */
}
